/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.recipe-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color:pink;
}

.root {
   background-color: red;

}

.recipe-card h3 {
    font-size: 18px;
    margin-bottom: 5px;

}

.recipe-card p {
    margin-bottom: 10px;
}

/* Search Bar Styles */
.search-bar {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Recipe Grid Styles */
.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

